<!DOCTYPE html>
<html>
  <head>
    <title>Code Snake</title>
    <link
      rel="icon"
      href="https://images.freeimages.com/fic/images/icons/2711/free_icons_for_windows8_metro/512/python.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="//unpkg.com/element-plus@2.3.7/dist/index.css"
    />
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.3.4/dist/vue.esm-browser.js",
          "element-plus": "https://unpkg.com/element-plus@2.3.7/dist/index.full.mjs",
          "codemirror": "https://unpkg.com/codemirror@6.0.1/dist/index.js",
          "@codemirror/language": "https://unpkg.com/@codemirror/language@6.8.0/dist/index.js",
          "@codemirror/autocomplete": "https://unpkg.com/@codemirror/autocomplete@6.8.1/dist/index.js",
          "@codemirror/state": "https://unpkg.com/@codemirror/state@6.2.1/dist/index.js",
          "@codemirror/view": "https://unpkg.com/@codemirror/view@6.14.1/dist/index.js",
          "@codemirror/commands": "https://unpkg.com/@codemirror/commands@6.2.4/dist/index.js",
          "@codemirror/search": "https://unpkg.com/@codemirror/search@6.5.0/dist/index.js",
          "@codemirror/lint": "https://unpkg.com/@codemirror/lint@6.4.0/dist/index.js",
          "crelt": "https://unpkg.com/crelt@1.0.6/index.js",
          "style-mod": "https://unpkg.com/style-mod@4.0.3/src/style-mod.js",
          "w3c-keyname": "https://unpkg.com/w3c-keyname@2.2.8/index.js",
          "@lezer/common": "https://unpkg.com/@lezer/common@1.0.3/dist/index.js",
          "@lezer/python": "https://unpkg.com/@lezer/python@1.1.8/dist/index.js",
          "@lezer/lr": "https://unpkg.com/@lezer/lr@1.3.9/dist/index.js",
          "@lezer/highlight": "https://unpkg.com/@lezer/highlight@1.1.6/dist/index.js",
          "@codemirror/lang-python": "https://unpkg.com/@codemirror/lang-python@6.1.3/dist/index.js",
          "vue-codemirror": "https://unpkg.com/vue-codemirror@6.1.1/dist/vue-codemirror.esm.js",
          "color2k": "https://cdn.skypack.dev/pin/color2k@v2.0.2-umwM7wpV18y9OMuBeCRE/mode=imports/optimized/color2k.js"
        }
      }
    </script>
    <script src="https://unpkg.com/seedrandom@3.0.5/seedrandom.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.3.2"></script>
  </head>

  <body>
    <div class="p-8 space-y-1 h-screen flex flex-col" id="app">
      <div class="flex flex-row mb-6">
        <h1 class="text-3xl flex-grow">Code Snake</h1>
        <span class="text-gray-500"
          >你好，<span :style="{ color: snakeColor }"
            >{{ player.name }}</span
          ></span
        >
      </div>
      <div class="flex flex-row">
        <el-form-item class="w-full mr-3" label="房间号">
          <el-input
            type="text"
            v-model="roomId"
            placeholder="请输入房间号"
          ></el-input>
        </el-form-item>
        <el-button
          :type="isGaming ? 'danger' : 'info'"
          text
          :style="isGaming ? { border: '1px solid red' } : { border: '1px solid gray' }"
          @click="handleToggleGame"
        >
          {{ gameButtonText }}
        </el-button>
      </div>

      <div class="flex flex-row flex-grow">
        <!-- 游戏界面 -->
        <div class="w-full h-full flex flex-col items-center p-8">
          <span>当前分数: {{ player.score }}</span>
          <div class="w-full aspect-square border-2">
            <canvas class="w-full h-full" ref="canvas"></canvas>
          </div>
        </div>
        <!-- 代码编辑器 -->
        <div class="w-full h-full">
          <codemirror
            v-model="code"
            placeholder="Code goes here..."
            :style="{ width: '100%' }"
            :autofocus="true"
            :indent-with-tab="true"
            :tab-size="4"
            :extensions="codemirrorExtensions"
          />
        </div>
      </div>
    </div>

    <script type="module">
      import { getLuminance, toHex, rgba } from "color2k";
      import { createApp } from "vue";
      import ElementPlus from "element-plus";
      import { ElMessage } from "element-plus";
      import { python } from "@codemirror/lang-python";
      import { Codemirror } from "vue-codemirror";

      const HOST = window.location.hostname;
      const PORT = 8000;

      const DEFAULT_CODE = `
def step(snake, other_snakes, board):
    """
    每一步的决策函数，返回值为 'TURN_LEFT', 'TURN_RIGHT', 'KEEP_STRAIGHT' 之一

    :param snake: 自己的蛇，如 SnakeInfo(
        body_points=[Point(x=0, y=0), Point(x=0, y=1), Point(x=0, y=2)],
        head=Point(x=0, y=0),
        direction='up',  # 'up', 'down', 'left', 'right'
        player=Player(id='2j3lj66x', name='Alice'),
    )
    :param other_snakes: 其他蛇的信息，如 [SnakeInfo(...), SnakeInfo(...)]
    :param board: 地图信息，如 BoardInfo(
        width=20,
        height=20,
        foods=[Food(point=Point(x=1, y=1), color='#ff0000'), Food(...)],
    )
    """

    return 'KEEP_STRAIGHT'
`;

      /** @type {WebSocket} */
      let ws;

      /**
       * @returns {Promise<string>}
       */
      const generateRandomName = async () => {
        const res = await fetch("https://randomuser.me/api/?nat=us");
        const data = await res.json();
        return data.results[0].name.first;
      };

      /**
       * 根据字符串生成亮度在 0.2 ~ 0.4 之间的颜色
       * @param {string} string
       * @returns {string}
       */
      const generateColor = (string) => {
        const rng = new Math.seedrandom(string);

        /** @type {string} */
        let color;
        do {
          const r = Math.floor(rng() * 255);
          const g = Math.floor(rng() * 255);
          const b = Math.floor(rng() * 255);
          color = rgba(r, g, b, 1);
        } while (getLuminance(color) > 0.4 || getLuminance(color) < 0.2);

        return toHex(color);
      };

      /**
       * @typedef {{ x: number; y: number }} Point
       */

      /**
       * @typedef {{ id: string; name: string; score: number }} PlayerDto
       */

      /**
       * @typedef {{ body_points: Point[]; player: PlayerDto; color: string }} SnakeDto
       */
    
      /**
       * @typedef {{ point: Point; color: string }} FoodDto
       */

      /**
       * @typedef {{ width: number; height: number; foods: FoodDto[] }} BoardDto
       */

      /**
       * @typedef {{ snakes: SnakeDto[]; players: PlayerDto[]; board: BoardDto }} GameDto
       */

      /**
       * @typedef {{ game: GameDto }} UpdateGamePayload
       */

      /**
       * @typedef {{ type: 'update-game'; payload: UpdateGamePayload }} UpdateGameMessage
       */

      /**
       * @typedef {UpdateGameMessage} IncomingMessage
       */

      /**
       * @typedef {{ player_id: number; code: string }} UpdateCodePayload
       */

      /**
       * @typedef {{ type: 'update-code'; payload: UpdateCodePayload }} UpdateCodeMessage
       */

      /**
       * @typedef {UpdateCodeMessage} OutgoingMessage
       */

      createApp({
        data() {
          const playerId = Math.random().toString(36).substr(2);

          return {
            roomId: "room1",
            player: {
              id: playerId,
              name: "",
              score: 0,
            },
            snakeColor: generateColor(playerId),
            code: DEFAULT_CODE.trimStart(),

            isGaming: false,

            gameButtonText: "开始/进入游戏",
            pixelWidth: 6,
            pixelHeight: 6,

            codemirrorExtensions: [python()],
          };
        },

        mounted() {
          console.info(`Player ID: ${this.player.id}`);
          console.info(`Snake Color: ${this.snakeColor}`);

          this.pixelWidth = this.$refs.canvas.width / 50;
          this.pixelHeight = this.$refs.canvas.height / 50;

          (async () => {
            this.player.name = await generateRandomName();
          })();
        },

        watch: {
          /**
           * @param {string} newVal
           */
          code(newVal) {
            this.handleUpdateCode(newVal);
          },
        },

        methods: {
          /**
           * @param {Point & { color?: string; type?: 'normal' | 'small' }} options
           */
          drawPixel(options) {
            const { color = this.snakeColor, type = "normal" } = options;

            /** @type {HTMLCanvasElement} */
            const canvas = this.$refs.canvas;
            const ctx = canvas.getContext("2d");

            ctx.fillStyle = color;

            if (type === "small") {
              ctx.fillRect(
                (options.x - 1) * this.pixelWidth + this.pixelWidth / 4,
                (options.y - 1) * this.pixelHeight + this.pixelHeight / 4,
                this.pixelWidth / 2,
                this.pixelHeight / 2
              );
              return;
            }

            ctx.fillRect(
              (options.x - 1) * this.pixelWidth,
              (options.y - 1) * this.pixelHeight,
              this.pixelWidth,
              this.pixelHeight
            );
          },

          /**
           * @param {SnakeDto[]} snakes
           */
          drawSnakes(snakes) {
            /** @type {HTMLCanvasElement} */
            const canvas = this.$refs.canvas;
            const ctx = canvas.getContext("2d");

            ctx.clearRect(0, 0, canvas.width, canvas.height);

            for (const snake of snakes) {
              for (const point of snake.body_points) {
                this.drawPixel({ ...point, color: snake.color });
              }
            }
          },

          /**
           * @param {FoodDto[]} foods
           */
          drawFoods(foods) {
            for (const food of foods) {
              this.drawPixel({ ...food.point, color: food.color, type: "small" });
            }
          },

          /**
           * 开始/结束游戏
           */
          handleToggleGame() {
            if (this.isGaming) {
              this.gameButtonText = "开始/进入游戏";
              void this.handleStopGame();
            } else {
              this.gameButtonText = "结束/退出游戏";
              void this.handleStartGame();
            }

            this.isGaming = !this.isGaming;
          },

          /**
           * 开始游戏
           */
          async handleStartGame() {
            /** @type {GameDto} */
            const game = await fetch(`http://${HOST}:${PORT}/game`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                room_id: this.roomId,
                player: this.player,
                snake_color: this.snakeColor,
              }),
            }).then((res) => res.json());

            ws = new WebSocket(`ws://${HOST}:${PORT}/game/${this.roomId}`);
            ws.onmessage = (event) => {
              /** @type {IncomingMessage} */
              const { type, payload } = JSON.parse(event.data);

              if (type === "update-game") {
                this.drawSnakes(payload.game.snakes);
                this.drawFoods(payload.game.board.foods);
                this.player.score = payload.game.players.find(
                  (player) => player.id === this.player.id
                ).score;
                return;
              }

              if (type === 'code-update-confirm') {
                ElMessage.success('代码已更新');
                return;
              }
            };
            ws.onopen = () => {
              this.handleUpdateCode(this.code);
            };
          },

          /**
           * 结束游戏
           */
          async handleStopGame() {
            ws.close();

            const url = new URL(`http://${HOST}:${PORT}/game/${this.roomId}`);
            url.searchParams.append("player_id", this.player.id);
            await fetch(url, { method: "DELETE" });
          },

          /**
           * @param {string} code
           */
          handleUpdateCode(code) {
            /** @type {UpdateCodeMessage} */
            const message = {
              type: "update-code",
              payload: {
                player_id: this.player.id,
                code,
              },
            };
            ws.send(JSON.stringify(message));
          },
        },

        components: {
          Codemirror,
        },
      })
        .use(ElementPlus)
        .mount("#app");
    </script>
  </body>
</html>
