body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-25px;
  width:508px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:15px;
  width:34px;
  height:34px;
  display:flex;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:76px;
  width:135px;
  height:36px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:270px;
  height:5px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:94px;
  width:267px;
  height:2px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:88px;
  width:14px;
  height:15px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:155px;
  width:135px;
  height:36px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:270px;
  height:5px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:173px;
  width:267px;
  height:2px;
  display:flex;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:167px;
  width:14px;
  height:15px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:234px;
  width:135px;
  height:36px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u251_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:240px;
  width:64px;
  height:25px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251.disabled {
}
.u251_input_option {
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:313px;
  width:135px;
  height:36px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253 label {
  left:0px;
  width:100%;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:321px;
  width:41px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u253_img.selected {
}
#u253.selected {
}
#u253_img.disabled {
}
#u253.disabled {
}
#u253_img.selected.error {
}
#u253.selected.error {
}
#u253_img.selected.hint {
}
#u253.selected.hint {
}
#u253_img.selected.error.hint {
}
#u253.selected.error.hint {
}
#u253_img.mouseOver.selected {
}
#u253.mouseOver.selected {
}
#u253_img.mouseOver.selected.error {
}
#u253.mouseOver.selected.error {
}
#u253_img.mouseOver.selected.hint {
}
#u253.mouseOver.selected.hint {
}
#u253_img.mouseOver.selected.error.hint {
}
#u253.mouseOver.selected.error.hint {
}
#u253_img.mouseDown.selected {
}
#u253.mouseDown.selected {
}
#u253_img.mouseDown.selected.error {
}
#u253.mouseDown.selected.error {
}
#u253_img.mouseDown.selected.hint {
}
#u253.mouseDown.selected.hint {
}
#u253_img.mouseDown.selected.error.hint {
}
#u253.mouseDown.selected.error.hint {
}
#u253_img.mouseOver.mouseDown.selected {
}
#u253.mouseOver.mouseDown.selected {
}
#u253_img.mouseOver.mouseDown.selected.error {
}
#u253.mouseOver.mouseDown.selected.error {
}
#u253_img.mouseOver.mouseDown.selected.hint {
}
#u253.mouseOver.mouseDown.selected.hint {
}
#u253_img.mouseOver.mouseDown.selected.error.hint {
}
#u253.mouseOver.mouseDown.selected.error.hint {
}
#u253_img.focused.selected {
}
#u253.focused.selected {
}
#u253_img.focused.selected.error {
}
#u253.focused.selected.error {
}
#u253_img.focused.selected.hint {
}
#u253.focused.selected.hint {
}
#u253_img.focused.selected.error.hint {
}
#u253.focused.selected.error.hint {
}
#u253_img.selected.disabled {
}
#u253.selected.disabled {
}
#u253_img.selected.hint.disabled {
}
#u253.selected.hint.disabled {
}
#u253_img.selected.error.disabled {
}
#u253.selected.error.disabled {
}
#u253_img.selected.error.hint.disabled {
}
#u253.selected.error.hint.disabled {
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u254 label {
  left:0px;
  width:100%;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:321px;
  width:41px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u254_img.selected {
}
#u254.selected {
}
#u254_img.disabled {
}
#u254.disabled {
}
#u254_img.selected.error {
}
#u254.selected.error {
}
#u254_img.selected.hint {
}
#u254.selected.hint {
}
#u254_img.selected.error.hint {
}
#u254.selected.error.hint {
}
#u254_img.mouseOver.selected {
}
#u254.mouseOver.selected {
}
#u254_img.mouseOver.selected.error {
}
#u254.mouseOver.selected.error {
}
#u254_img.mouseOver.selected.hint {
}
#u254.mouseOver.selected.hint {
}
#u254_img.mouseOver.selected.error.hint {
}
#u254.mouseOver.selected.error.hint {
}
#u254_img.mouseDown.selected {
}
#u254.mouseDown.selected {
}
#u254_img.mouseDown.selected.error {
}
#u254.mouseDown.selected.error {
}
#u254_img.mouseDown.selected.hint {
}
#u254.mouseDown.selected.hint {
}
#u254_img.mouseDown.selected.error.hint {
}
#u254.mouseDown.selected.error.hint {
}
#u254_img.mouseOver.mouseDown.selected {
}
#u254.mouseOver.mouseDown.selected {
}
#u254_img.mouseOver.mouseDown.selected.error {
}
#u254.mouseOver.mouseDown.selected.error {
}
#u254_img.mouseOver.mouseDown.selected.hint {
}
#u254.mouseOver.mouseDown.selected.hint {
}
#u254_img.mouseOver.mouseDown.selected.error.hint {
}
#u254.mouseOver.mouseDown.selected.error.hint {
}
#u254_img.focused.selected {
}
#u254.focused.selected {
}
#u254_img.focused.selected.error {
}
#u254.focused.selected.error {
}
#u254_img.focused.selected.hint {
}
#u254.focused.selected.hint {
}
#u254_img.focused.selected.error.hint {
}
#u254.focused.selected.error.hint {
}
#u254_img.selected.disabled {
}
#u254.selected.disabled {
}
#u254_img.selected.hint.disabled {
}
#u254.selected.hint.disabled {
}
#u254_img.selected.error.disabled {
}
#u254.selected.error.disabled {
}
#u254_img.selected.error.hint.disabled {
}
#u254.selected.error.hint.disabled {
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u254_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.6745098039215687);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:410px;
  width:140px;
  height:40px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
